"""
    MeGraS API

    API for MediaGraphStore 0.01  # noqa: E501

    The version of the OpenAPI document: 0.01
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from media_graph_construction.openapi.megraspy.api_client import ApiClient, Endpoint as _Endpoint
from media_graph_construction.openapi.megraspy.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from media_graph_construction.openapi.megraspy.model.api_basic_query import ApiBasicQuery
from media_graph_construction.openapi.megraspy.model.api_query_result import ApiQueryResult
from media_graph_construction.openapi.megraspy.model.rest_error_status import RestErrorStatus


class DeletionApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __post_delete_quads(
            self,
            **kwargs
        ):
            """Deletes matching quads from the graph.  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.post_delete_quads(async_req=True)
            >>> result = thread.get()


            Keyword Args:
                api_basic_query (ApiBasicQuery): [optional]
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (int/float/tuple): timeout setting for this request. If
                    one number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                ApiQueryResult
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            return self.call_with_http_info(**kwargs)

        self.post_delete_quads = _Endpoint(
            settings={
                'response_type': (ApiQueryResult,),
                'auth': [],
                'endpoint_path': '/delete/quads',
                'operation_id': 'post_delete_quads',
                'http_method': 'POST',
                'servers': None,
            },
            params_map={
                'all': [
                    'api_basic_query',
                ],
                'required': [],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'api_basic_query':
                        (ApiBasicQuery,),
                },
                'attribute_map': {
                },
                'location_map': {
                    'api_basic_query': 'body',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [
                    'application/json'
                ]
            },
            api_client=api_client,
            callable=__post_delete_quads
        )
